section( id='example' class='container content-section text-center' )
  div( class='row' )
    div( class='col-lg-8 col-lg-offset-2' )
      h2 Example

      ul( class='list-inline banner-social-buttons' )
        li
          button( type="button" class="btn btn-default" onclick='playAnimation()' title='Play / Pause' id='play' )
            span( class="glyphicon glyphicon-play" )
        li
          button( type="button" class="btn btn-default" onclick='stopAnimation()' title='Stop')
            span( class="glyphicon glyphicon-stop" )  
      
      canvas( id='canvas' )
        
      div( class="col-sm-4" )
        span( class="glyphicon glyphicon-time" ) &nbsp;
        span( id="time" ) 000.00
      div( class="col-sm-4" )
        span( id="fps" ) 00 fps 
  
section( id='moreexample' class='container content-section text-center' )    
  div( class='row' )
    div( class='col-lg-8 col-lg-offset-2 whiteLinks' )  
      h2 More examples
      a( href='http://shadergun.lcluber.com' target='_blank')
        div( class='game' style='background: url(img/skyline-fractal-universe-800.jpg) no-repeat center center scroll;')
          h3 ShaderGun
          p
            strong ShaderGun 
            | is a WebGL shader editor.
            
      a( href='http://molesandfurious.roostrjs.com' target='_blank')
        div( class='game' style='background: url(img/skyline-molesandfurious1920-29.jpg) no-repeat center center scroll;')
          h3 Moles & Furious
          p
            strong Moles and Furious 
            | is a javascript / html5, one button shooter. Kill the furious moles and survive as long as you can.

      a( href='http://bobajet.roostrjs.com' target='_blank')
        div( class='game' style='background: url(img/skyline-bobajet1920-33.jpg) no-repeat center center scroll;')
          h3 Boba Jet
          p
            strong Boba Jet 
            | is a javascript / html5 shooter. Fight your way through various levels with a jetpack and a gun to rescue your twin brother.

        a( href='http://vortalcombat.roostrjs.com' target='_blank')
          div( class='game' style='background: url(img/skyline-vortalcombat1920-24.jpg) no-repeat center center scroll;')
            h3 Vortal combat
            p
              strong Vortal Combat 
              | is a javascript / html5 shoot'em up. Pilot a starfighter against unknown invaders in an asteroid field.
      
