div( id="myModal" class="modal fade in modal-transparent" role="dialog")
  div( class="modal-dialog")
    div( class="modal-content")
      div( class="modal-header")
        h4( class="modal-title") Loading
      
      div( class="modal-body")
        progress( id='progressBar' class='col-md-12' value='0' max='100' )
        div( id='progressPercentage' ) 0%
        div( id='progressFile' )
