div( id="myModal" class="modal fade in modal-transparent" role="dialog")
  div( class="modal-dialog")
    div( class="modal-content")
      div( class="modal-header")
        h4( class="modal-title") Loading
      
      div( class="modal-body")
        div( id="progressText") Loading
        div( id="progressBar")
          div( id="progressBarNumber") 0
          div( id="progressBarPercentage")
  
